<%- include('./base/base_header'); -%>
<body>
    
    <a class="btn btn-light" href="/movies/">Movie</a>
    <a class="btn btn-light" href="/category/">Categorias</a>
</body>

<%- include('./base/base_footer'); -%>