<%- include('../base/base_header'); -%> 

<body>
    <a class="btn btn-light" href="/category/">Detalles categorias</a>
    <a class="btn btn-light" href="/category/list">Categorias</a>
    <a class="btn btn-light" href="/">Atras</a>
</body>

<%- include('../base/base_footer'); -%>