<%- include('../base/base_header'); -%>
<body>
    <h1><span class="texto"><%= category.title %> </span></h1>
    <% for (var i = 0; i < 20; i++) { %>
        <div class="container">
            <div class="row">
                <p>
                    <%= movies[i].title %> 
                    
            </div>
            
            
        </div>

    <% } %>
</body>
<%- include('../base/base_footer'); -%>